<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Contact List</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/stylesheets/main.css">
   </head>
   <body>
      <div class="container text-center">
  <h3>Welcome to your Contact List</h3>
  <p><em>Easy to use and manage</em></p>
  <p>It is free and alway will be free.</p>
  <p>If you are new to contact list.</p><a href="/register"><button>Register here</button></a>
  <p>If you already have account.</p><a href="/login"><button>Sign Up</button></a>
</div>
   </body>
</html>