body, html {
    height: 100%;
}

.wrapper{
	background: url('/img/bg.jpg');
	background-size: cover;
	background-position: center;
	height: 100%; 
	opacity: 1;
}

.welcome{
	color: #FFFFFF;
	margin: 10% auto;
	text-align: center;
}

.left-col{
	color: #FFFFFF;
	width: 100%;
	line-height: 2em;
}
.right-col{
	background: #eee;
	width: 100%;
	padding: 40px;
}

.input-home{
	width: 100%;
	padding: 0 20px;
	border-radius: 5px;
	height: 50px
	background: #f8f8f8;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
}
.message-land{
	margin-top: 15px;
	border: 1px solid #fff;
	padding: 10px;
	text-align: center;
}
.message-land a{
	font-size: 15px;
	font-weight: 800;
}
.left-col ul{
	list-style: none;
}
.icon{
	margin-left: 25px;
}