<% include ../partials/header %> 
<div class="container">

<h1>Contact List index</h1>

<% contactlists.forEach(function(contactlist){%>
<div>
	<%= contactlist.first_name + " " + contactlist.last_name%>
</div>

<p>
 <a href="/contactlists/<%= contactlist._id %>" class="btn btn-primary">More Info</a>
 </p>
submitted by:<a href="/users/<%=contactlist.author.id %>"><%=contactlist.author.username%></a>
<% }); %>
<p>
	


<a href="/contactlists">view contactlists</a>

<a href="/contactlists/new">Add new contact</a>
</div>
<% include ../partials/footer %>